In [1]:
import pandas as pd

In [ ]:
# load dataset from data/universal_top_spotify_songs.csv (https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated)
df = pd.read_csv('data/universal_top_spotify_songs.csv')
df.head()

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2RkZ5LkEzeHGRsmDqKwmaJ,Ordinary,Alex Warren,1,1,0,NaN,2025-06-11,95,False,...,2,-6.141,1,0.0600,0.704000,0.000007,0.0550,0.391,168.115,3
1,42UBPzRMh5yyz0EDPr6fr1,Manchild,Sabrina Carpenter,2,-1,48,NaN,2025-06-11,89,True,...,7,-5.087,1,0.0572,0.122000,0.000000,0.3170,0.811,123.010,4
2,0FTmksd2dxiE5e3rWyJXs6,back to friends,sombr,3,0,1,NaN,2025-06-11,98,False,...,1,-2.291,1,0.0301,0.000094,0.000088,0.0929,0.235,92.855,4
3,7so0lgd0zP2Sbgs2d7a1SZ,Die With A Smile,"Lady Gaga, Bruno Mars",4,0,-1,NaN,2025-06-11,91,False,...,6,-7.727,0,0.0317,0.289000,0.000000,0.1260,0.498,157.964,3
4,6dOtVTDdiauQNBQEDOtlAB,BIRDS OF A FEATHER,Billie Eilish,5,1,0,NaN,2025-06-11,100,False,...,2,-10.171,1,0.0358,0.200000,0.060800,0.1170,0.438,104.978,4

In [4]:
# from col snapshot_date, get rows with snapshot_date equal to 2025-06-11 only
df = df[df['snapshot_date'] == '2025-06-11']
df.shape

(3600, 25)

In [7]:
# save the 2025-06-11 dataset to data/spotify_2025_06_11.csv in top50_dataset_2025.csv
df.to_csv('data/spotify_2025_06_11.csv', index=False)

In [5]:
# extract number of unique countries from col "country"
df['country'].nunique()

71

In [6]:
# extract number of songs per country 
df['country'].value_counts()

country
ZA    50
VN    50
VE    50
UY    50
US    50
      ..
BE    50
AU    50
AT    50
AR    50
AE    50
Name: count, Length: 71, dtype: int64